@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Cabeçalho*/

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100px;
    max-width: 1222px;
    margin: auto;
}

.page-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-content .search {

    font-size: 1rem;
    width: 250px;
    height: 2.0rem;
    outline: none;
    border: 0.5px solid  ;
    padding: 18px;
    
}

.header-content .search:hover {
    color: #000;
}


.header-content .icons{
    display: flex;
    align-self: center;
}

.header-content .list-header{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .list-header li{
    margin: 4px;
}

.header-content .list-header li a{
    color: #000;
    text-decoration: none;
}

.header-content .list-header li a:hover{
    text-decoration: underline;
}

/*menu de baixo*/

.menu-navegacao {
    list-style: none;
    text-align: center;
    margin-bottom:10px ;
    
}

.menu-navegacao li{
    display: inline-block;
    
}

.menu-navegacao li a{
    padding: 10px;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
}

.menu-navegacao li a:hover{
    text-decoration: underline;
}

/*CARROSSEL*/

.carrosel{
    margin: 0 auto;
    width: 1000px;
    height: 590px;
    overflow: hidden;
}

.carrosel .carrosel-itens{
    width: 400%;
    height: 400px;
    display: flex;
}

.carrosel .carrosel-itens input{
    display: none;
}

.carrosel .carrosel-itens .item-carrosel{
    width: 25%;
    position: relative;
    transition: 2.5s;
}

.carrosel .carrosel-itens .item-carrosel img{
    width: 1000px;
    height: 510px;
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
}

.manual-navigation .manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-navigation .manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .primeiro{
    margin-left: 0;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 485px;
    display: flex;
    justify-content: center;

}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}




#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/*Ofertas*/

.titles{
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}

.offers {
    display: flex;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: center;
}


.offers .offers-container{
    display: flex;
    flex-direction: column;

}

.offers .offers-container .img-offers {
    height: auto;
    width: 300px;
}

.offers .offers-container .price-block{
    margin: 0 auto;
    padding: 10px;
}

.offers .offers-container .price-block .price-block-price{
    display: flex;
    gap: 5px;
}



/*media queries*/

